.navbar {
    padding:2rem 0px 0px 8rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    position: sticky;
}

.navbar__logo {
    font-weight: bold;
    font-size: 24px;
}
.navbar__links {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 14px;
}

.navbar__link {
    color: rgb(41, 41, 41);
    font-weight: 430;
}

.navbar__link:hover {
    color: rgb(110, 110, 248);
}


.navbar__link#active {
    color: #3C73AD;
}

.hero {
    width: 40vw;
    height: calc(100vh - 6rem);
    padding-left: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}


.hero__title {
    color: rgb(70, 70, 70);
}

.hero__description {
    color: rgb(104, 104, 104);
}

.team {
    padding-left: 8rem;

}

.team__title {
  
}

.team__advisor {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.team__advisor__left {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.team__advisor__image {
    border-radius: 50%;
    size: 124px;
    object-fit: contain;   
}
.team__advisor__name {
    color: #192A3E;
    font-size: 18px;
    font-weight: 500;
}

.team__advisor__title {
    color: #384655 ;
    font-size: 14px;
    color: #4F4F4F;
}